02_Ejercicio_Servicio_Soap_Suma_Prod/Web_Client_Suma/web/WEB-INF/wsdl/localhost_8080/WS_RETORNAR_RESULTADO/WS_RETORNAR_RESULTADO.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS_RESULTADO/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS_RESULTADO/">

<xs:element name="Calcular_Iva" type="tns:Calcular_Iva"/>

<xs:element name="Calcular_IvaResponse" type="tns:Calcular_IvaResponse"/>

<xs:complexType name="Calcular_Iva">
<xs:sequence>
<xs:element name="valor_producto" type="xs:double"/>
<xs:element name="iva_producto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Calcular_IvaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>